body { background-color: rgb(252,253,252); font-family:'Open Sans'!important; font-weight: 100 }
#menu-topo { min-height:40px; margin-bottom: 0;
    background-color: #f07d00!important; border:none; border-radius:0; }
#menu-topo [class*="col-"] { height:40px; line-height: 40px;
    color:rgb(252,253,252) }
#menu-topo .navegacao { padding-left: 0 }
#menu-topo ul li a { padding-top:10px; padding-bottom:10px;
    color:rgb(252,253,252)!important; text-transform: uppercase }
#menu-topo ul li.active a { background-color:#da532c !important }
.logo-min-branco { min-width:58px; display:inline-block; padding-left: 58px;
    background-image: url('/metro/img/logo_rk_branco_min3.png');
    background-repeat: no-repeat; background-position: center left; }
#breadcrumb { border-radius: 0; border:solid 1px #ddd;}
#breadcrumb li { font-size: 1.3em; }
#breadcrumb>li+li:before { padding-right:0 ;}
.menu-esquerda,
.box-conteudo { height: 100%; padding-top:20px }
.box-conteudo { padding-left:30px; padding-right:80px }
.menu-esquerda { background-color: rgb(243,242,243); padding-left:0;
    padding-right: 0; padding-bottom: 60px }
.menu-esquerda .form-group { margin-left: 15px; margin-right: 15px }
.menu-esquerda ul li a { font-size: 1.2em; padding:3px 15px; border-radius: 0;
    color:rgb(124,124,124); text-transform: uppercase }
.menu-esquerda ul li.active a { background-color:rgb(205,204,205)!important }
.catalogo-titulo-1 { color: #f07d00!important }
.catalogo-titulo-2 { color: #f07d00!important }
.itens-filtro { border-radius: 0; box-shadow: none }
.itens-filtro .panel-heading { padding:10px; border:none }
.itens-filtro .filtro-menu { font-size:1.4em; vertical-align: text-top; line-height: 1em }
.itens-filtro .modos a:hover,
.grade-itens a:hover { text-decoration: none; color:inherit }
.grade-itens .thumbnail { padding:0; border-radius: 0 }
.grade-itens .thumbnail .caption { padding:2px 5px }
.grade-itens .thumbnail .grade-titulo { font-size: 1.2em }
.lista-item { border-radius: 0 }
.lista-item .panel-body { padding: 10px; }
.lista-item .lista-titulo { margin:0; vertical-align:sub;
    font-size:1.2em; line-height: 1em }
.lista-item .lista-titulo .faicon { position:relative; top:3px }
.owl-carousel .item img { width:auto!important; max-height:100%!important;
    max-width:100%!important; display:block; margin:auto }
.linha-titulo { display:block; margin-bottom:20px; padding: 2px;
    background: #e7e7e7; }
.linha-titulo .titulo { display:block; position:relative; padding:5px;
    border:solid 3px white; font-size:1.3em; line-height: 1.2em }
.linha-titulo .visualizacao { position:absolute; right:0; top:0; height:100%;
    padding:0 10px; font-size:.7em; line-height: 2.4em;
    border-left: solid 3px white; text-transform: none }
.linha-titulo a { margin-left: 8px; vertical-align: top }
.linha-titulo a:hover { text-decoration: none; color:inherit }
.menu-esquerda .icone-busca { top:.55em!important }
.menu-esquerda .icone-busca:hover { color:#999999; cursor: pointer }