.fg-color-blue {
  color: #2d89ef !important;
}
.fg-color-blueLight {
  color: #eff4ff !important;
}
.fg-color-blueDark {
  color: #2b5797 !important;
}
.fg-color-green {
  color: #00a300 !important;
}
.fg-color-greenLight {
  color: #99b433 !important;
}
.fg-color-greenDark {
  color: #1e7145 !important;
}
.fg-color-red {
  color: #C41B14 !important;
}
.fg-color-yellow {
  color: #ffc40d !important;
}
.fg-color-orange {
  color: #f07d00 !important;
}
.fg-color-orangeDark {
  color: #da532c !important;
}
.fg-color-pink {
  color: #9f00a7 !important;
}
.fg-color-pinkDark {
  color: #7e3878 !important;
}
.fg-color-purple {
  color: #603cba !important;
}
.fg-color-darken {
  color: #1d1d1d !important;
}
.fg-color-lighten {
  color: #d5e7ec !important;
}
.fg-color-white {
  color: #ffffff !important;
}
.fg-color-grayDark {
  color: #525252 !important;
}
.fg-color-gray {
  color: #999999 !important;
}
.fg-color-pastel {
  color: #F4F39E !important;
}
.fg-color-brown {
  color: #bc644a !important;
}
.fg-hover-color-blue:hover {
  color: #2d89ef !important;
}
.fg-hover-color-blueLight:hover {
  color: #eff4ff !important;
}
.fg-hover-color-blueDark:hover {
  color: #2b5797 !important;
}
.fg-hover-color-green:hover {
  color: #00a300 !important;
}
.fg-hover-color-greenLight:hover {
  color: #99b433 !important;
}
.fg-hover-color-greenDark:hover {
  color: #1e7145 !important;
}
.fg-hover-color-red:hover {
  color: #b91d47 !important;
}
.fg-hover-color-yellow:hover {
  color: #ffc40d !important;
}
.fg-hover-color-orange:hover {
  color: #f07d00 !important;
}
.fg-hover-color-orangeDark:hover {
  color: #da532c !important;
}
.fg-hover-color-pink:hover {
  color: #9f00a7 !important;
}
.fg-hover-color-pinkDark:hover {
  color: #7e3878 !important;
}
.fg-hover-color-purple:hover {
  color: #603cba !important;
}
.fg-hover-color-darken:hover {
  color: #1d1d1d !important;
}
.fg-hover-color-lighten:hover {
  color: #d5e7ec !important;
}
.fg-hover-color-white:hover {
  color: #ffffff !important;
}
.fg-hover-color-grayDark:hover {
  color: #525252 !important;
}
.fg-hover-color-gray:hover {
  color: #999999!important;
}
.fg-hover-color-pastel:hover {
  color: #F4F39E!important;
}
.fg-hover-color-brown:hover {
  color: #bc644a!important;
}
[class*=bg-color]:not([class*=fg-color]) {
    color:white !important;
}
.bg-color-blue {
  background-color: #2d89ef !important;
}
.bg-color-blueLight {
  background-color: #eff4ff !important;
}
.bg-color-blueDark {
  background-color: #2b5797 !important;
}
.bg-color-green {
  background-color: #00a300 !important;
}
.bg-color-greenLight {
  background-color: #99b433 !important;
}
.bg-color-greenDark {
  background-color: #1e7145 !important;
}
.bg-color-red {
  background-color: #B91D1D !important;
}
.bg-color-yellow {
  background-color: #ffc40d !important;
}
.bg-color-orange {
  background-color: #f07d00 !important;
}
.bg-color-orangeDark {
  background-color: #da532c !important;
}
.bg-color-pink {
  background-color: #9f00a7 !important;
}
.bg-color-pinkDark {
  background-color: #7e3878 !important;
}
.bg-color-purple {
  background-color: #603cba !important;
}
.bg-color-darken {
  background-color: #1d1d1d !important;
}
.bg-color-lighten {
  background-color: #d5e7ec !important;
}
.bg-color-white {
  background-color: #ffffff !important;
}
.bg-color-grayDark {
  background-color: #525252 !important;
}
.bg-color-gray {
  background-color: #999999 !important;
}
.bg-color-pastel {
  background-color: #F4F39E !important;
}
.bg-color-brown {
  background-color: #bc644a !important;
}
.bg-hover-color-blue:hover {
  background-color: #2d89ef !important;
}
.bg-hover-color-blueLight:hover {
  background-color: #eff4ff !important;
}
.bg-hover-color-blueDark:hover {
  background-color: #2b5797 !important;
}
.bg-hover-color-green:hover {
  background-color: #00a300 !important;
}
.bg-hover-color-greenLight:hover {
  background-color: #99b433 !important;
}
.bg-hover-color-greenDark:hover {
  background-color: #1e7145 !important;
}
.bg-hover-color-red:hover {
  background-color: #b91d47 !important;
}
.bg-hover-color-yellow:hover {
  background-color: #ffc40d !important;
}
.bg-hover-color-orange:hover {
  background-color: #f07d00 !important;
}
.bg-hover-color-orangeDark:hover {
  background-color: #da532c !important;
}
.bg-hover-color-pink:hover {
  background-color: #9f00a7 !important;
}
.bg-hover-color-pinkDark:hover {
  background-color: #7e3878 !important;
}
.bg-hover-color-purple:hover {
  background-color: #603cba !important;
}
.bg-hover-color-darken:hover {
  background-color: #1d1d1d !important;
}
.bg-hover-color-lighten:hover {
  background-color: #d5e7ec !important;
}
.bg-hover-color-white:hover {
  background-color: #ffffff !important;
}
.bg-hover-color-grayDark:hover {
  background-color: #525252 !important;
}
.bg-hover-color-gray:hover {
  background-color: #999999 !important;
}
.bg-hover-color-pastel:hover {
  background-color: #F4F39E !important;
}
.bg-hover-color-brown:hover {
  background-color: #bc644a !important;
}
[class*=border-color]:hover {
  border: 2px solid;
}
[class*=border-color] {
  border: 2px solid;
}
.border-color-blue {
  border-color: #2d89ef !important;
}
.border-color-blueLight {
  border-color: #eff4ff !important;
}
.border-color-blueDark {
  border-color: #2b5797 !important;
}
.border-color-green {
  border-color: #00a300 !important;
}
.border-color-greenLight {
  border-color: #99b433 !important;
}
.border-color-greenDark {
  border-color: #1e7145 !important;
}
.border-color-red {
  border-color: #b91d47 !important;
}
.border-color-yellow {
  border-color: #ffc40d !important;
}
.border-color-orange {
  border-color: #f07d00 !important;
}
.border-color-orangeDark {
  border-color: #da532c !important;
}
.border-color-pink {
  border-color: #9f00a7 !important;
}
.border-color-pinkDark {
  border-color: #7e3878 !important;
}
.border-color-purple {
  border-color: #603cba !important;
}
.border-color-darken {
  border-color: #1d1d1d !important;
}
.border-color-lighten {
  border-color: #d5e7ec !important;
}
.border-color-white {
  border-color: #ffffff !important;
}
.border-color-grayDark {
  border-color: #525252 !important;
}
.border-color-gray {
  border-color: #999999 !important;
}
.border-color-pastel {
  border-color: #F4F39E !important;
}
.border-color-brown {
  border-color: #bc644a !important;
}
*:hover[class=outline-color] {
  outline: 3px solid;
}
.outline-color-blue {
  outline-color: #2d89ef !important;
}
.outline-color-blueLight {
  outline-color: #eff4ff !important;
}
.outline-color-blueDark {
  outline-color: #2b5797 !important;
}
.outline-color-green {
  outline-color: #00a300 !important;
}
.outline-color-greenLight {
  outline-color: #99b433 !important;
}
.outline-color-greenDark {
  outline-color: #1e7145 !important;
}
.outline-color-red {
  outline-color: #b91d47 !important;
}
.outline-color-yellow {
  outline-color: #ffc40d !important;
}
.outline-color-orange {
  outline-color: #f07d00 !important;
}
.outline-color-orangeDark {
  outline-color: #da532c !important;
}
.outline-color-pink {
  outline-color: #9f00a7 !important;
}
.outline-color-pinkDark {
  outline-color: #7e3878 !important;
}
.outline-color-purple {
  outline-color: #603cba !important;
}
.outline-color-darken {
  outline-color: #1d1d1d !important;
}
.outline-color-lighten {
  outline-color: #d5e7ec !important;
}
.outline-color-white {
  outline-color: #ffffff !important;
}
.outline-color-grayDark {
  outline-color: #525252 !important;
}
.outline-color-gray {
  outline-color: #999999 !important;
}
.outline-color-pastel {
  outline-color: #F4F39E !important;
}
.outline-color-brown {
  outline-color: #bc644a !important;
}