@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../../fonts/opensans-light-webfont.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
		url(../../fonts/opensans-light-webfont.eot#iefix) format('embedded-opentype'),
		url(../../fonts/opensans-light-webfont.woff) format('woff'),
		url(../../fonts/opensans-light-webfont.ttf) format('truetype'),
		url(../../fonts/opensans-light-webfont.svg) format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/opensans-regular-webfont.eot');
  src: local('Open Sans'), local('OpenSans'),
		url(../../fonts/opensans-regular-webfont.eot#iefix) format('embedded-opentype'),
		url(../../fonts/opensans-regular-webfont.woff) format('woff'),
		url(../../fonts/opensans-regular-webfont.ttf) format('truetype'),
		url(../../fonts/opensans-regular-webfont.svg) format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../../fonts/opensans-semibold-webfont.eot');
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
		url(../../fonts/opensans-semibold-webfont.eot#iefix) format('embedded-opentype'),
		url(../../fonts/opensans-semibold-webfont.woff) format('woff'),
		url(../../fonts/opensans-semibold-webfont.ttf) format('truetype'),
		url(../../fonts/opensans-semibold-webfont.svg) format('svg');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/opensans-bold-webfont.eot');
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url(../../fonts/opensans-bold-webfont.eot#iefix) format('embedded-opentype'),
		url(../../fonts/opensans-bold-webfont.woff) format('woff'),
		url(../../fonts/opensans-bold-webfont.ttf) format('truetype'),
		url(../../fonts/opensans-bold-webfont.svg) format('svg');
}