.listview {
  margin-left: 0;
  list-style: none;
  *zoom: 1;
}
.listview li {
  margin-bottom: 10px;
  margin-left:4px;
  border: 4px transparent solid;
  padding: 10px;
  width: 300px;
  position: relative;
  display: block;
  cursor: pointer;
  *zoom: 1;
  box-sizing: border-box;
}
.listview.min li {
  padding:3px;
  margin-bottom:5px;
}
.listview li .icon {
  width: 64px;
  height: 64px;
  float: left;
}
.listview.min li .icon {
  width:48px;
  height:48px;
}
.listview li .icon img {
  width: 100%;
  height: 100%;
}
.listview li .data {
  margin-left: 71px;
}
.listview.min li .data {
  margin-left:57px;
}
.listview li .data h4 {
  margin: 0;
  padding: 0 0 2px 0;
  font-weight:800;
  font-size: 11pt;
  letter-spacing: 0.01em;
  line-height: 14pt;
  font-smooth: always;
  color: #000000;
  color: rgba(0, 0, 0, 0.6);
}
.listview.min li .data h4 {
    font-size:14px;
}
.listview li .data p {
  margin: 0;
  font-size: 9pt;
}
.listview li .data .static-rating.small,
.listview li .data .progress-bar {
  margin-bottom: 3px;
}
.listview li:hover {
  outline: 3px #ccc solid;
}
.listview li:active {
  outline: 3px #3e3e3e solid;
}
.listview li:before,
.listview li:after {
  display: table;
  content: "";
}
.listview li:after {
  clear: both;
}
.listview.image li {
  width: 380px;
}
.listview.image li .icon {
  width: 100px;
  height: 100px;
  border: 1px #ccc solid;
}
.listview.image li .data {
  margin-left: 110px;
}
.listview.image li .data h4 {
  margin-bottom: 4px;
}
.listview.image li .data p {
  line-height: 16px;
  font-size: 10pt;
  margin-bottom: 5px;
}
.listview.image li .data .static-rating.small,
.listview.image li .data .progress-bar {
  margin-bottom: 10px;
}
.listview.iconic li .icon {
  width: 32px;
  height: 32px;
  border: 1px #ccc solid;
}
.listview.iconic li .data {
  margin-left: 40px;
}
.listview.fluid li {
  float: left;
  margin:0 0 1% 1%;
  padding:1%;
  width:46%;
}
.listview.fluid li:nth-child(odd) { margin-left:1% }
.listview  > li.selected {
  border: 4px #2d89ef solid;
}
.listview  > li.selected:after {
  width: 0;
  height: 0;
  border-top: 40px solid #2d89ef;
  border-left: 40px solid transparent;
  position: absolute;
  display: block;
  right: 0;
  content: "";
  top: 0;
  z-index: 1001;
}
.listview  > li.selected:before {
  position: absolute;
  content: "\e08a";
  color: #fff;
  right: 4px;
  top: 0;
  font-family: iconFont;
  z-index: 1002;
  display: block;
}
.listview:before,
.listview:after {
  display: table;
  content: "";
}
.listview:after {
  clear: both;
}