<?php
echo $html->css('estrutura');
echo $html->css('grid');
echo $html->css('reset');
echo $html->css('tabelas');
echo $html->css('texto');
echo $html->script('jquery-1.7.2.min');
echo $html->script('analytics');
echo $html->script('functions');
echo $html->script('jquery.tools.min');
echo $html->script('checkout');
echo $html->css('tooltip');
echo $html->css('checkout');
?>
<script type="text/javascript">
//$(function() { window.print(); });
</script>
<span id="conteudo-titulo" class="box-com-titulo-header">Checkout de Formando</span>
<div id="conteudo-container">
	<?php include('_info.ctp')?>
	<?php include('_cadastro_formando.ctp')?>
	<?php include('despesas_formando.ctp')?>
	<div style="clear:both;"></div>
</div>