/*
 * forms.css
 * Formatação dos formulários do site
 */

 /* Table of Contents:
	
	Generic forms 
	Specific forms
	
*/

form  p, 
.detalhes p {
	display: block;
	text-align:left;
	margin-bottom: 15px;
	font-size: 12px;
}

form label, 
.detalhes label {
	display:block;
	font-weight: bold;
	margin-bottom: 3px;
}

form p .submit, 
form p .cancel,
.detalhes p .submit, 
.detalhes p .cancel,
.container-tabela .cancel {
	float:right;
	margin-left: 10px;
	font-size: 12px;
}

form .cancel,
form .cancel:visited,
form .cancel:active,
.detalhes .cancel,
.detalhes .cancel:visited,
.detalhes .cancel:active,
.container-tabela .cancel,
.container-tabela .cancel:active,
.container-tabela .cancel:visited {
	color: #b00000;
	margin-top: 5px;
}

form .cancel:hover 
.detalhes .cancel:hover,
.container-tabela .cancel:hover {
	text-decoration: underline;
	cursor:pointer;
}

input, textarea {
	border: 1px solid #9D9D9C;
	color: #333;
	font-size: 14px;
	padding: 3px;
	font-weight: normal;
}

input.form-error {
	border-color: #D31217;
}

textarea.form-error {
	border-color: #D31217;
}

select.form-error {
	border: 1px solid #D31217;
}


form .error-message {
	color: #D31217;
        margin-left: 10px;
}
input:focus, 
textarea:focus {
	border-width: 2px;
}

input[type=submit], 
.submit {
	background-color: #575756;
	color:#fff;
	font-size: 10px;
	font-weight: bold;
	height: 25px;
	cursor:pointer;
	padding: 1px 5px 2px 5px;
	
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.detalhes .submit {
	height: 21px;
	padding: 3px 5px 0 5px;
}

.submit:visited , 
.submit:hover {
	color: #fff;
}

.submit-busca {
	background: transparent url('../img/botao_busca.png') no-repeat center left !important;
	width: 17px !important;
	height: 15px !important;
	border: 0 !important;
	margin:0 !important;
	padding: 0 !important;
	content: '';
}

.submit-busca:hover {
	cursor: pointer;
}


.button {
	padding: 5px;
}

select {
	border: 1px solid #9D9D9C;
	color: #333;
	font-size: 14px;
	padding: 5px 3px 0 3px;
}

.info {
	background: transparent url('') no-repeat center left;
	padding:20px 40px;
	font-size: 14px;
	line-height:20px;
	margin-bottom:10px;
}

.info-sucesso {
	color:green;
	background-image: url("../img/info_sucesso.gif");
}


.info-erro {
	color:red;
	background-image: url("../img/info_erro.png");
}

/*specific forms*/

#pagina-detalhes-turma  .detalhes  #editar-memorando {
	float:left;
	margin: 10px 0;
}

/*    form with inline crud    */
form.procurar-form-inline {
	float:left;
}

form div.crud-inline {
	font-size: 12px;
	text-align: left;
}

form div.crud-inline li {
	font-size: 12px;
	line-height: 1.4em;	
}

form div.crud-inline li.hover {
	color: #B00000;
	font-weight: bold;
}

form .adicionar-inline {
	margin-top: 5px;
	padding-left: 21px;
	background: url("../img/adicionar_inline.png") no-repeat 0 0 transparent;
}

form .adicionar-inline:hover {
	background: url("../img/adicionar_inline.png") no-repeat 0 -14px transparent;
	color: #52b437;
}

form .esconder-inline {
	margin-left: 10px;
}

form .remover-usuario-inline,
form .remover-inline {
	background: url("../img/remover_inline.png") no-repeat 0 0 transparent;
	width: 14px;
	height: 14px;
	float: left;
	display: block;
	margin-right: 7px;
}

form .remover-usuario-inline:hover,
form .remover-inline:hover {
	background: url("../img/remover_inline.png") no-repeat 0 -14px transparent;
}

form .adicionar-inline-form {
	margin-left: 21px;
	margin-top:5px;
}

/* Compartilhar */

form div.compartilhar div.checkbox{
	display: block;
	text-align:left;
	font-size: 12px;
	margin: 5px 0;
}   
form div.compartilhar div.checkbox label{
	display: inline;
	font-size: 12px;
        font-weight: normal;
	margin: 0 5px;
        float: none;
}
form div.compartilhar label{
        float: left;
	display: inline;
	font-size: 12px;
        font-weight: bold;
        text-align: left;
	margin-bottom: 3px;
}

form div.compartilhar {
    margin-bottom: 15px; 
}

form div.compartilhar fieldset {
    width:45%;
}

.cke_editor_texto-mensagem {
	clear: left;
	margin-left: 0;
	border: 1px solid #9D9D9C !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

.mensagem {
	color: #000 !important;
	font-size: 12px;
}
.mensagem ol, .mensagem ul, .mensagem dl {
	padding-right: 40px;
	display: block;
	margin-left: 13px;
}

.mensagem ul li {
	list-style-type: disc !important;
}

.mensagem ol li{
	list-style-type: decimal !important;;
}



/* Arquivos anexos a mensagens */

#arquivos-anexos input[type=file] {
	float:left;
	width: 100%;
}

#arquivos-anexos .adicionar-anexo {
	margin-top: 5px;
	float: left;
	display: block;
	width: 100%;
	padding-left: 21px;
	background: url("../img/adicionar_inline.png") no-repeat 0 0px transparent;
	line-height: 13px;
}

#arquivos-anexos .adicionar-anexo:hover {
	background: url("../img/adicionar_inline.png") no-repeat 0 -14px transparent;
	color: #52b437;
}

.visualizar-arquivos-anexados label {
	font-size: 12px;
}

.visualizar-arquivos-anexados ul {
	display: block;
	float: left;
	width: 100%;
	font-size: 12px;
	margin-bottom: 15px;
	width: 100%;
}

.visualizar-arquivos-anexados ul li {
	width: 100%;
	display: block;
	float: left;
	margin-bottom: 5px;
}

.visualizar-arquivos-anexados ul li a {
	background: transparent url("../img/seta_baixo_download.png") scroll no-repeat 0 0;
	height: 16px;
	padding-left: 17px;
	display: block;
	float: left;
}

.visualizar-arquivos-anexados ul li a:hover {
	background: transparent url("../img/seta_baixo_download.png") scroll no-repeat 0 -16px;
	color: #3769b4;
}

/*  */

.tabela-label {
	float: left;
	font-size: 12px;
}

/* Tela de cadastro do formando*/
.form-cadastro-formando .titulo {
	font-size: 16px;
}

#form-cadastro-formando-inicio p {
	text-align: center;
}

.form-cadastro-formando input.input-grande{
	border-width: 2px;
	width: 120px;
	height: 50px;
	font-size: 40px;
	text-align: center;
}

.form-cadastro-formando  input.submit{
	border-width: 1px;
	width: auto;
	height: auto;
	font-size: 14px;
	text-align: center;
}

.form-cadastro-formando #tabs {
	border: 0 !important;
}

.form-cadastro-formando #tabs ul{
	margin: 0 auto !important;
	width: 95% !important;
	float: none !important;
	border: 0 !important;
	background: transparent !important;
}

.form-cadastro-formando #tabs ul li{
	margin-right: 12px !important;
	border-bottom: 1px solid #D8DCDF !important;
	-webkit-border-radius: 5px !important;
	border-radius: 5px !important;
	background: #fcfcfc !important;
}

.form-cadastro-formando #tabs ul li.ui-state-active{
	border-bottom: 1px solid #eee !important;
	background: #cecece !important;
}

.form-cadastro-formando #tabs ul li a {
	color: #555 !important;
}

.form-cadastro-formando #tabs ul li.erro{
	border-color: #D31217 !important;
}

.form-cadastro-formando #tabs ul li.seta{
	border: 0 !important;
	background: transparent url(../img/seta_cinza.png) no-repeat center !important;
	height: 24px !important;
	width: 24px !important;
}