/*
 * forms.css
 * Formatação do painel de visualização do formando (resumo do formando)
 */

 /* Table of Contents:
	
	Generic forms 
	Specific forms
	
*/

.painel_formando_financeiro label {
	display: inline;
	font-weight: bold;
	margin-bottom: 3px;
	//background: #00f;
}

.painel_formando_financeiro span {
	display: inline;
	clear: none;
	//background: #0f0;
}

.painel_formando {
	margin-top: 10px;
	background: #f5f5f5;
	border: 0px solid;
	padding: 5px;
}

.correct {
	color: green;
	display:list-item;
	margin-left: 20px;
	list-style-image: url('../img/check.png');
	vertical-align: center;
}

.wrong {
	color: red;
	display:list-item;
	margin-left: 20px;
	list-style-image: url('../img/error.png');
}

.nome_formando {
	font-weight: bold;
	font-size: 14px;
	display:inline-block;
	float: left;
	margin-bottom: 2px;
}

.codigo_formando {
	font-weight: bold;
	font-size: 12px;
	display:inline-block;
	float: left;
	margin-bottom: 2px;
	clear:left;
}

.info_formando {
	display: inline-block;
	float: left;
	margin-top: 5px;
	
}

.data_nascimento_sexo {
	font-size: 12px;
	display: inline-block;
	float: left;
	clear: left;
}

.email_formando {
	font-weight: bold;
	font-size: 12px;
	display:inline-block;
	float:left;
	clear:left;
	margin-bottom: 2px;
}

.foto_formando {
	background: #ddd;
	padding: 4px;
	display: block;
	float: left;
	margin: 5px 10px 10px 0px;
	
}

.painel_formando .foto_formando img {
	border: 1px;
}

.painel_formando p {
	display: block;
	text-align:left;
	margin-bottom: 15px;
	font-size: 12px;
}

.painel_formando label {
	display:block;
	font-weight: bold;
	margin-bottom: 3px;
}

.painel_formando .painel_titulo {
	background: #a00;
	text-indent: 20px;
	display:block;
	padding: 7px 0 5px 0;


	font-weight: bold;
	font-size: 15px;
	text-align: center;
	display:block;
	clear:both;
	color: #fff;
	margin-bottom: 5px;

}
