/*
 * textos.css
 * Formatação das tipografias, espaçamentos e tamnho dos textos
 */

/* Table of Contents:
	
	Entire Body
	Header
	Middle
	Footer
	
*/

/* Entire Body */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
	
body {
	font-family: Myriad, Arial, Verdana, Sans Serif;
	color: #575756;
	font-size: 10px;
}

h1,h2,h3,h4,h5 {
	font-weight: normal;
}

a, a:active, a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #D31217;
	cursor: pointer;
	font-weight: bold;
}
	
p {
	line-height: 1.4em;
}

p.titulo {
	font-weight: bold;
	text-transform: uppercase;
}

.link_marcar_vendido {
	font-weight:bolder;
}
/* .box-com-titulo - start*/

.box-com-titulo .box-com-titulo-header{
	font-family: Myriad Pro;
	font-size: 13px;
	color: #fff;
}

/* .box-com-titulo - end*/

/* Header */

#header {
	font-family: Myriad Pro;
	font-weight: bold;
}

#header #usuario-logado #usuario-logado-nome {
	font-size: 16px;
}

#header #usuario-logado #usuario-logado-codigo-formando {
	font-size: 16px;
	font-weight: normal;
}

#header #usuario-logado #usuario-logado-secao{
	font-size: 13px;
	color: #D31217;
}

#header #menu-horizontal a{
	font-weight: normal;
	font-size: 13px;
	color: #fff;
}

#header #turma-selecionada-nome {
	font-size: 13px;
}

#header #turma-selecionada-logout {
	font-size: 11px;
	color: #931004;
}

#header #turma-selecionada-logout:hover {
	text-decoration: underline;
}

#header #menu-horizontal a:hover{
	font-weight: normal;
}

/* Middle */

#menu-lateral {
	font-family: Myriad Pro;
}

#menu-lateral ul {
	font-size: 14px;
}

#menu-lateral ul li a.menu-lateral-selecionado,
#menu-lateral ul li a:hover {
	font-weight: bold;
}

#menu-lateral ul li a,
#menu-lateral ul li a:visited,
#menu-lateral ul li a:hover {
	color: #575756;
}

#menu-lateral ul li .menu-lateral-numero {
	color: #fff;
	font-size: 10px;
	text-indent: 0;
	text-align: center;
	font-weight: normal !important;
}

#conteudo-container p.titulo-secao {
	font-size: 18px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin-bottom: 5px;
}

#conteudo .link-agenda {
	font-size: 18px;
}

.container-parcerias h2 {
	font-size: 18px !important;
}

/* Footer */

#footer p.titulo{
	margin-top: 2em;
}
 
/*
*	Desenvolvido por:
* 	Vinícius Oyama
*   www.viniciusoyama.com
*/