<link rel="stylesheet" type="text/css" href="<?=$this->webroot?>metro/css/min/bootstrap/datepicker.css">
<link rel="stylesheet" type="text/css" href="<?=$this->webroot?>metro/css/min/bootstrap/bootstrap-timepicker.min.css">
<link rel="stylesheet" type="text/css" href="<?= $this->webroot ?>metro/css/max/bootstrap/select.css">
<script type="text/javascript" src="<?=$this->webroot?>metro/js/min/bootstrap/datepicker.js"></script>
<script type="text/javascript" src="<?= $this->webroot ?>metro/js/min/bootstrap/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="<?= $this->webroot ?>metro/js/min/bootstrap/select.js"></script>
<style type="text/css">
    .chzn-container-single .chzn-single{
        padding: 5px 3px 3px 2%
    }
    .chzn-single{
        width: 206px!important;
        height: 28px
    }
    .chzn-drop{
        width: 206px!important;
    }
</style>
<script type="text/javascript">
     $(document).ready(function(){ 
        
        $('#duracao').timepicker({
            minuteStep: 15,
            showMeridian: false,
            defaultTime: false
        });

        $('#valsa').timepicker({
            minuteStep: 15,
            showMeridian: false,
            defaultTime: false
        });
        
        $('#hora').timepicker({
            minuteStep: 15,
            showMeridian: false,
            defaultTime: false
        });
        
        $("#alerta").click(function(){
            if($(this).is(":checked")){
                $(this).next().attr('value', 1);
            }else{
                $(this).next().attr('value', 0);
            }
        });
        
        $("#datepicker").datepicker();
        
        $("#seletor").selectpicker({width:'68%'});
        
        $("#beca").selectpicker({width:'100%',dropdown_position: "down"});
        
        $("#colacao").hide();
        
        $("#seletor").change(function(){
            if($('#seletor option').filter(':selected').text() == "Festa de Formatura"){
                $("#festa").fadeIn("slow");
                $("#colacao").fadeOut("slow");
            }
            if($('#seletor option').filter(':selected').text() == "Colação de Grau"){
                $("#colacao").fadeIn("slow");
                $("#festa").fadeOut("slow");
            }
            if(($('#seletor option').filter(':selected').text() != "Colação de Grau") && 
                ($('#seletor option').filter(':selected').text() != "Festa de Formatura")){
                    $("#colacao").fadeOut("slow");
                    $("#festa").fadeOut("slow");
            }
            if($('#seletor option').filter(':selected').text() == 'Outros'){
                $('.outroevento').fadeIn('slow');
            }else{
                $('#TiposEventoNome').attr('value', '');
                $('.outroevento').fadeOut('slow');
            }
        });
        
        $("#form").submit(function(e) {
            e.preventDefault();
            var context = ko.contextFor($(".metro-button.back")[0]);
            context.$data.showLoading(function() {
                var dados = $("#form").serialize();
                var url = '<?="/{$this->params['prefix']}/eventos/inserir/"?>';
                var button = $($.find('.enviar'));
                if(button.attr('disabled') != 'disabled'){
                    button
                        .attr('disabled','disabled');
                        $.ajax({
                            url: url,
                            data: dados,
                            type: "POST",
                            dataType: "json",
                            complete: function() {
                                context.$data.page('/<?=$this->params['prefix']?>/eventos/listar');
                            }
                        });
                }
            });
        });
        
     });
</script>
<div class="row-fluid">
	<div class="span12">
		<h2>
			<a class="metro-button back" data-bind="click: function() { 
				page('<?="/{$this->params['prefix']}/eventos/listar"?>') }"></a>
			Adicionar Evento
		</h2>
	</div>
</div>
<?php $session->flash();
?>
<?php echo $form->create('Evento', array('url' => "/{$this->params['prefix']}/eventos/inserir/", 'id' => 'form')); ?>
<?php echo $form->input('id', array('hiddenField' => true)); ?>
<div class="row-fluid">
        <div class="row-fluid">	
            <div class="span4">
                <?=$form->input('tipos_evento_id',array(
                'label' => 'Tipo de Evento',
                'type' => 'select',
                'class' => 'selectpicker',
                'options' => $tiposeventos,
                'div' => 'input-control',
                'error' => false,
                'id' => 'seletor')); ?>
            </div>
            <div class="span4 hide outroevento">
                    <label>Digite</label>
                    <?php echo $form->input('TiposEvento.nome', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false)); ?>
            </div>
            <div class="span5">
                <label>&nbsp</label>
                <label class="input-control checkbox">
                    <input type="checkbox" id="alerta" checked>
                    <input type="hidden" name="data[Evento][alerta_telao]" value="1"/>
                    <span class="helper">&nbsp;Ativar alerta para envio de fotos do telão?</span>
                </label>
                <label for="aceitar-contrato">&nbsp;</label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                    <label>Nome</label>
                    <?php echo $form->input('nome', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false)); ?>
            </div>
            <div class="span4">
                    <label>Local</label>
                    <?php echo $form->input('local', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false)); ?>
            </div>
            <div class="span4">
                    <label>Endereço do Local</label>
                    <?php echo $form->input('local_endereco', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false)); ?>
            </div>
        </div>
        <div class="row-fluid">
                <div class="span12">
                    <label>Mapa do Local</label>
                    <?php echo $form->input('local_mapa', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 865px')); ?>
                </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="input-append bootstrap-timepicker">
                    <label>Horário de Inicio</label>
                    <?php echo $form->text('hora', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'id' => 'hora')); ?>
                    <span class="add-on"><i class="icon-clock-2"></i></span>
                </div>
            </div>
            <div class="span4">
                <div class="input-append bootstrap-timepicker">
                    <label>Horário de Fim</label>
                    <?php echo $form->text('hora_fim', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'id' => 'duracao')); ?>
                    <span class="add-on"><i class="icon-clock-2"></i></span>
                </div>
            </div>
            <div class="span4">
                    <label>Data</label>
                    <?php echo $form->input('data-hora', array( 'class' => 'input-control text', 'label' => false, 'div' => false,'error' => false, 'id' => 'datepicker')); ?>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                    <label>Convites Formandos</label>
                    <?php echo $form->input('convites_formandos', array('class' => 'input-medium text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 134px')); ?>
            </div>
            <div class="span3"> 
                    <label>Convites Extras</label>
                    <?php echo $form->input('convites_extras', array('class' => 'input-medium text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 134px')); ?>
            </div>
            <div class="span3">
                    <label>Traje</label>
                    <?php echo $form->input('traje', array('class' => 'input-medium text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 134px')); ?>
            </div>
            <div class="span3">
                    <label>Banda</label>
                    <?php echo $form->input('banda', array('class' => 'input-medium text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 134px')); ?>
            </div>
        </div>
        <div class="row-fluid" id="colacao">
            <div class="span3">
                <?=$form->input('tipo_beca',array(
                'label' => 'Beca',
                'type' => 'select',
                'class' => 'selectpicker',
                'options' => array('americana','tradicional'),
                'div' => 'input-control text',
                'error' => false,
                'id' => 'beca')); ?>
            </div>

            <div class="span4">
                    <label>Cor da Faixa</label>
                    <?php echo $form->input('cor_da_faixa', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false)); ?>
            </div>

            <div class="span4">
                    <label>Capelo</label>
                    <?php echo $form->input('capelo', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false)); ?>
            </div>
        </div>
        <div class="row-fluid" id="festa">
            <div class="span4">
                    <div class="input-append bootstrap-timepicker">
                        <label>Horário da Valsa</label>
                        <?php echo $form->input("horario_valsa_aux", 
                                      array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'id' => 'valsa'));?>
                        <span class="add-on"><i class="icon-clock-2"></i></span>
                    </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                    <label>Atrações</label>
                    <?php echo $form->input('atracoes', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 370px')); ?>
            </div>

            <div class="span6">
                    <label>Buffet</label>
                    <?php echo $form->input('buffet', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 370px')); ?>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                    <label>Bar</label>
                    <?php echo $form->input('bar', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 370px')); ?>
            </div>

            <div class="span6">
                    <label>Brindes</label>
                    <?php echo $form->input('brindes', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 370px')); ?>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <label>Outras Informações</label>
                <?php echo $form->input('outras_informacoes', array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 865px')); ?>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <label>Informações Fotógrafos</label>
                <?php echo $form->input("Evento.informacoes_fotografos", array('class' => 'input-control text', 'label' => false, 'div' => false, 'error' => false, 'style' => 'width: 865px'));?>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <?php echo $form->end(array('label' => 'Salvar', 'div' => false, 'class' => 'button default bg-color-green enviar'));?>
            </div>
        </div>
</div>