<div class="row-fluid" style="min-height: 400px">
    <div class="span12" align='center'>
        <label class="strong">Mapa</label>
        <?php if(!empty($evento['Evento']['local_mapa'])) : ?>
        <?php echo $evento['Evento']['local_mapa'];?>
        <?php else : ?>
        <label class="strong">Mapa do local n&atilde;o dispon&iacute;vel</label>
        <?php endif; ?>
    </div>
</div>
