<p class="grid_11 alpha omega">
	<label class="grid_5 alpha">Beca</label>
	<span class="grid_8 alpha first"><?php echo $evento['Evento']['beca']; ?></span>
</p>
<p class="grid_11 alpha omega">
	<label class="grid_5 alpha">Cor da Faixa</label>
	<span class="grid_8 alpha first"><?php echo $evento['Evento']['cor_da_faixa']; ?></span>
</p>
<p class="grid_11 alpha omega">
	<label class="grid_5 alpha">Capelo</label>
	<span class="grid_8 alpha first"><?php echo $evento['Evento']['capelo']; ?></span>
</p>
