<span id="conteudo-titulo" class="box-com-titulo-header">Planejamento - Mudar Senha</span>
<div id="conteudo-container">
	<?php include('_mudar_senha.ctp'); ?>
	
	<div style="clear:both;"></div>
</div>