
<p class="grid_11 alpha omega">
	<label class="grid_11 alpha omega">Cursos do contrato</label>
	
	<?php 
	foreach($cursos as $curso) :?>
		<span class="grid_11 alpha first">
			<?php
			echo $curso['Curso']['Faculdade']['Universidade']['sigla']." - ".$curso['Curso']['Faculdade']['sigla']." - ".$curso['Curso']['nome']." - ".$curso['turno'];
			?>
		</span>
	<?php endforeach;?>
	<?php //echo $form->input('Curso', array('class' => 'grid_4 alpha omega first', 'label' => false, 'div' => false, 'error' => array('wrap' => 'span', 'class' => 'grid_10')));?>
</p>	

<?php
/*
<p class="grid_11 alpha omega">
	<label class="grid_11 alpha omega">Data de Previsão de Conclusão</label>
	<?php echo $form->input('Turma.data_conclusao', array('class' => 'grid_4 alpha omega first', 'label' => false, 'div' => false, 'error' => array('wrap' => 'span', 'class' => 'grid_10')));?>
</p>	
<p class="grid_11 alpha omega">
	<label class="grid_11 alpha omega">Valor por Formando</label>
	<?php echo $form->input('Turma.valor_formando', array('class' => 'grid_4 alpha omega first', 'label' => false, 'div' => false, 'error' => array('wrap' => 'span', 'class' => 'grid_10')));?>
</p>
<p class="grid_11 alpha omega">
	<label class="grid_11 alpha omega">Data de Assinatura</label>
	<?php echo $form->input('Turma.data_assinatura_contrato', array('class' => 'grid_4 alpha omega first', 'label' => false, 'div' => false, 'error' => array('wrap' => 'span', 'class' => 'grid_10')));?>
</p>
<p class="grid_11 alpha omega">
	<label class="grid_11 alpha omega">Benefício da Comissão</label>
	<?php echo $form->input('Turma.beneficios_comissao', array('class' => 'grid_4 alpha omega first', 'label' => false, 'div' => false, 'error' => array('wrap' => 'span', 'class' => 'grid_10')));?>
</p>
<p class="grid_11 alpha omega">
	<label class="grid_11 alpha omega">Negociações Contratuais</label>
	<?php echo $form->input('Turma.negociacoes_contratuais', array('class' => 'grid_4 alpha omega first', 'label' => false, 'div' => false, 'error' => array('wrap' => 'span', 'class' => 'grid_10')));?>
</p>
*/
?>
	
	
