<div class="row-fluid">
	<?php $session->flash(); ?>
	<div class="row-fluid">
            <div class="span6">
                    <span>Extra</span>
                    <label class="strong"><?php echo $extra['Extra']['nome']; ?></label>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                    <span>Descrição</span>
                    <label class="strong"><?php echo $extra['Extra']['descricao']; ?></label>
            </div>
		
	</div>
</div>
