.file-upload {
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;
    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);
    display:inline-block;
    width:250px;
    min-height: 250px;
    padding:30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.file-upload .alert { margin-bottom: 0; margin-top: 20px; padding:8px 14px; text-align: center }

.file-upload .drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom:10px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-image: url('border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;
    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

.file-upload .drop.img { padding:10px }

.file-upload .drop a, a.confirmar {
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}
.file-upload a.confirmar {
    background-color:#00962D;
    margin-bottom:20px;
    box-sizing: border-box;
    text-align: center;
    width:100%;
}

.file-upload .drop a:hover{
    background-color:#0986a3;
}
.file-upload a.confirmar:hover { background-color:#09A349 }

.file-upload .drop input{
    display:none;
}

.file-upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

.file-upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height:62px;

    position: relative;
}

.file-upload ul li input{
    display: none;
}

.file-upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

.file-upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

.file-upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

.file-upload ul li.wait span{ height: 0; }

.file-upload ul li span{
    width: 15px;
    height: 12px;
    background: url('icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

.file-upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

.file-upload ul li.error p{
    color:red;
}