<span id="conteudo-titulo" class="box-com-titulo-header">Fazer a Ades&atilde;o</span>
<div id="conteudo-container">
    <?php echo $session->flash();?>
    <?php echo $form->create('Usuario', array('url' => '/formandos/comissao_adesao', 'class' => 'form-cadastro-formando'));?>
    <?php include('_form_pagamento.ctp');?><br />
    <?php echo $form->end(array('label' => 'Salvar', 'div' => false, 'class' => 'submit'));?>
</div>
