<div class="row-fluid">
	<?php 
		$session->flash();
	?>
	<p class="bold">
            <h3>Seu cadastro foi efetuado com sucesso. 
                Aguarde o email informando que ele foi ativado pelo respons&aacute;vel da turma.
            </h3>
        </p>
</div>